*.mp4
/Assignments/Week04/Session01/ExcelAssignment/~$HomeDepotStockTrends.xlsx
/Assignments/Week04/Session01/ExcelAssignment/~$lumbo-DiscussionQuestions.docx
/Assignments/Week04/Session01/ExcelAssignment/*.tmp
/Assignments/BIProjectPart1/~$BICourseProjectPart1Excel-v5.xlsx
/Assignments/BIProjectPart1/~$lumbo-BIProjectPart1-Answers.docx
/Assignments/BIProjectPart1/~WRL1356.tmp
/Assignments/Week05/Session01/~$adingQuestions.docx
/Assignments/Week05/Session01/~$lumbo-DiscussionQuestions.docx
/Assignments/Week05/Session01/~WRL2087.tmp
/Assignments/BIProjectPart1.zip
/Assignments/AllAssignThru061318s.zip
/Week06/Session01/*.crdownload
/Week06/Session02/*.mov
/Assignments/BI-Presentation/~$Palumbo-CIS570-BIPresentation.pptx
/Week07/Session02/*.crdownload
/Assignments/Week08/Session01/~$lumbo-DiscussionQuestions.docx
